<div class="flex flex-col items-center mb-10">  
  <%= form_with model: @game do |f| %>
    <div class="mb-3">
      <%= f.label :title, class:"text-sm block"%>
      <%= f.text_field :title %>
    </div>
    <div class="mb-3">
      <%= f.label :content, class:"text-sm block" %>
      <%= f.rich_text_area :content, class:"min-h-80 max-h-80 overflow-y-auto" %>
    </div>

    <div class="mb-3">
      <%= f.label :min, class:"text-sm block" %>
      <%= f.text_field :min %>
    </div>

    <div class="mb-3">
      <%= f.label :max, class:"text-sm block" %>
      <%= f.text_field :max %>
    </div>

    <div class="mb-3">
      <%= f.label :time, class:"text-sm block" %>
      <%= f.text_field :time %>
    </div>

    <div class="mb-3">
      <%= f.label :dificullty, class:"text-sm block" %>
      <%= f.select :dificullty, [1,2,3,4,5] %>
    </div>

    <div class="mb-3">
      <%= f.label :space, class:"text-sm block" %>
      <%= f.select :space, [1,2,3,4,5] %>
    </div>
    
    <div class="mb-3">
      <label class="text-sm block">Tag</label>
      <input type="text" name="tag_name" value="<%= @game.tags.pluck(:name).join(",") %>" placeholder=",で区切って入力" >
    </div>

    <%= f.submit nil, class:"relative h-12 overflow-hidden rounded bg-neutral-950 px-5 py-2.5 text-white transition-all duration-200 hover:bg-neutral-800 hover:ring-offset-2 active:ring-2 active:ring-neutral-800"%>
  <% end %>
</div>