<div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
 <h1 class="text-3xl font-extrabold leading-none sm:text-4xl xl:text-4xl"> 管理者ログイン </h1>
  <div class="flex flex-col">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :user_name %><br />
        <%= f.text_field :user_name, autofocus: true, autocomplete: "user_name" %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit  t('devise.submit.login'), class:"relative h-12 overflow-hidden rounded bg-neutral-950 px-5 py-2.5 text-white transition-all duration-200 hover:bg-neutral-800 hover:ring-offset-2 active:ring-2 active:ring-neutral-800" %>
      </div>
    <% end %>
  </div>
</div>

<%= render "user_sessions/shared/links" %>
